@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: serif, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #262626;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

.p{
  font-family: Kantumruy;
}

.searchbar{
  position: sticky;
  top: 0%;
  z-index: 100;
}

.searchbar.scrolled{
    backdrop-filter: blur(20px);
}